* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}
.navbar
{
    width: 100%;
    height: auto;
    display: flex;
    gap:5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #271756;
}
.navbar img{
width: 400px;
height: 130px;
}
.menu-wrap
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.btn-menu
{
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(230, 204, 226);
}
.btn-menu:hover
{
    background-color: rgb(219, 171, 171);
    transition: background-color 0.5s ease;
}